<div class="main">
  <div class="form-wrap">
    <div class="form__wrapper">
      <h2 class="page-heading">タグ登録</h2>
      <%= render partial: "form", locals: { tag: @tag } %>
    </div>
  </div>
</div>